<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>快点呀，你的手速是负的吗？</string>
	<string>你将会为此付出代价。</string>
	<string>你伤不了我一根毫毛。</string>
	<string>别担心，有我保护。</string>
	<string>麻烦给颗药嗑一嗑？</string>
	<string>别乱打，我是好人。</string>
	<string>悲剧了，我要酱油了。</string>
	<string>不好意思，我刚才卡住了。</string>
	<string>别打我啊，我先离开一会。</string>
	<string>专业点，会不会玩啊？</string>
	<string>中立，不要只是当野怪。</string>
	<string>英雄霸气威武，手下留情啊。</string>
</array>
</plist>
