<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>musicVolume</key>
	<real>0.2</real>
	<key>soundVolume</key>
	<real>0.5</real>
	<key>voiceVolume</key>
	<real>1</real>
	<key>vibration</key>
	<true/>
	<key>aidSelection</key>
	<true/>
	<key>showNick</key>
	<false/>
</dict>
</plist>
