<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict/>
	<dict>
		<key>cardName</key>
		<string>LordOfAvernus</string>
		<key>cardText</key>
		<string>死亡骑士</string>
		<key>cardDesc</key>
		<string>死亡缠绕[主]: 出牌阶段，你可以对自己造成1点伤害，然后选择下列1项执行（每回合限1次）:\n1、令另1名角色回复1点血量。\n2、弃掉另1名角色的1张手牌并令其损失1点怒气。若目标无手牌或怒气亦或两者都没有，则受到你对其造成的1点伤害。\n+霜之哀伤[被]: 出牌阶段，当你使用【攻击】造成1次伤害后，可以对目标角色继续使用1张【攻击】。</string>
		<key>attribute</key>
		<integer>1</integer>
		<key>hpLimit</key>
		<integer>4</integer>
		<key>spLimit</key>
		<integer>3</integer>
		<key>handSizeLimit</key>
		<integer>4</integer>
		<key>gender</key>
		<integer>1</integer>
		<key>price</key>
		<integer>0</integer>
		<key>skillIds</key>
		<array>
			<integer>1</integer>
			<integer>2</integer>
		</array>
	</dict>
	<dict>
		<key>cardName</key>
		<string>SkeletonKing</string>
		<key>cardText</key>
		<string>骷髅王</string>
		<key>cardDesc</key>
		<string>重生[被]: 当你处于濒死状态时，你可以弃置所有手牌并将怒气清零，然后血量回复到上限。（整局游戏限1次）\n+吸血[被]: 每当你使用【攻击】造成1次伤害后，可以进行1次判定，若结果为红色，你回复1点血量。</string>
		<key>attribute</key>
		<integer>1</integer>
		<key>hpLimit</key>
		<integer>4</integer>
		<key>spLimit</key>
		<integer>3</integer>
		<key>handSizeLimit</key>
		<integer>4</integer>
		<key>gender</key>
		<integer>1</integer>
		<key>price</key>
		<integer>0</integer>
		<key>skillIds</key>
		<array>
			<integer>3</integer>
			<integer>4</integer>
		</array>
	</dict>
	<dict>
		<key>cardName</key>
		<string>Bristleback</string>
		<key>cardText</key>
		<string>刚背兽</string>
		<key>cardDesc</key>
		<string>战意[被]: 每当你受到1次伤害后，可以进行1次判定，若结果为红色，则你指定其他任意1名角色，该角色需弃置1张【闪避】，否则受到你对其造成的1点伤害。\n+刚毛后背[被]: 每当你受到1次伤害时，若该伤害大于1，则可以令伤害-1。</string>
		<key>attribute</key>
		<integer>1</integer>
		<key>hpLimit</key>
		<integer>4</integer>
		<key>spLimit</key>
		<integer>3</integer>
		<key>handSizeLimit</key>
		<integer>4</integer>
		<key>gender</key>
		<integer>1</integer>
		<key>price</key>
		<integer>0</integer>
		<key>skillIds</key>
		<array>
			<integer>5</integer>
			<integer>6</integer>
		</array>
	</dict>
	<dict>
		<key>cardName</key>
		<string>SacredWarrior</string>
		<key>cardText</key>
		<string>神灵武士</string>
		<key>cardDesc</key>
		<string>牺牲[主]: 出牌阶段，你可以对自己造成1点伤害，然后弃掉另1名角色的2张手牌。（每回合限1次）\n+沸血之矛[被]: 当你使用【攻击】造成伤害时，若你的血量≤2，则可以令该伤害+1。</string>
		<key>attribute</key>
		<integer>1</integer>
		<key>hpLimit</key>
		<integer>4</integer>
		<key>spLimit</key>
		<integer>3</integer>
		<key>handSizeLimit</key>
		<integer>4</integer>
		<key>gender</key>
		<integer>1</integer>
		<key>price</key>
		<integer>0</integer>
		<key>skillIds</key>
		<array>
			<integer>7</integer>
			<integer>8</integer>
		</array>
	</dict>
	<dict>
		<key>cardName</key>
		<string>Omniknight</string>
		<key>cardText</key>
		<string>全能骑士</string>
		<key>cardDesc</key>
		<string>洗礼[主]: 当任意1名角色受到1次伤害后（伤害来源不是你，也不是该角色自己），则你可以弃2张红色牌，然后该角色回复1点血量，并且你对伤害来源造成1点伤害。\n+圣光[被]: 你使用的魔法牌或技能若被【驱散】抵消，结算完毕后你立即摸1张牌。</string>
		<key>attribute</key>
		<integer>1</integer>
		<key>hpLimit</key>
		<integer>4</integer>
		<key>spLimit</key>
		<integer>3</integer>
		<key>handSizeLimit</key>
		<integer>4</integer>
		<key>gender</key>
		<integer>1</integer>
		<key>price</key>
		<integer>0</integer>
		<key>skillIds</key>
		<array>
			<integer>9</integer>
			<integer>10</integer>
		</array>
	</dict>
	<dict>
		<key>cardName</key>
		<string>Axe</string>
		<key>cardText</key>
		<string>斧王</string>
		<key>cardDesc</key>
		<string>战争饥渴[主]: 出牌阶段，你可以弃1张手牌，然后指定另1名角色对你使用【攻击】，否则受到你对其造成的1点伤害。（该攻击无距离限制，每回合限1次）\n+反转螺旋[被]: 每当你成为【攻击】的目标时，可以进行1次判定，若结果为红色2~7， 则你对【攻击】来源造成1点伤害。</string>
		<key>attribute</key>
		<integer>1</integer>
		<key>hpLimit</key>
		<integer>4</integer>
		<key>spLimit</key>
		<integer>3</integer>
		<key>handSizeLimit</key>
		<integer>4</integer>
		<key>gender</key>
		<integer>1</integer>
		<key>price</key>
		<integer>0</integer>
		<key>skillIds</key>
		<array>
			<integer>11</integer>
			<integer>12</integer>
		</array>
	</dict>
	<dict>
		<key>cardName</key>
		<string>CentaurWarchief</string>
		<key>cardText</key>
		<string>半人马</string>
		<key>cardDesc</key>
		<string>双刃剑[被]: 出牌阶段，你可以对自己造成1点伤害并弃1张手牌，然后对另1名角色造成1点伤害。</string>
		<key>attribute</key>
		<integer>1</integer>
		<key>hpLimit</key>
		<integer>5</integer>
		<key>spLimit</key>
		<integer>3</integer>
		<key>handSizeLimit</key>
		<integer>4</integer>
		<key>gender</key>
		<integer>1</integer>
		<key>price</key>
		<integer>0</integer>
		<key>skillIds</key>
		<array>
			<integer>13</integer>
		</array>
	</dict>
	<dict>
		<key>cardName</key>
		<string>DragonKnight</string>
		<key>cardText</key>
		<string>龙骑士</string>
		<key>cardDesc</key>
		<string>火焰气息[主]: 出牌阶段，你可以弃X张相同花色的手牌，然后对X-1名其他角色各造成1点伤害。(每回合限1次)\n+龙族血统[主]: 回合结束阶段，若你当前的手牌数不为0，则你可以弃所有手牌，然后令自己回复1点血量。</string>
		<key>attribute</key>
		<integer>1</integer>
		<key>hpLimit</key>
		<integer>4</integer>
		<key>spLimit</key>
		<integer>3</integer>
		<key>handSizeLimit</key>
		<integer>4</integer>
		<key>gender</key>
		<integer>1</integer>
		<key>price</key>
		<integer>150</integer>
		<key>skillIds</key>
		<array>
			<integer>14</integer>
			<integer>15</integer>
		</array>
	</dict>
	<dict>
		<key>cardName</key>
		<string>GuardianKnight</string>
		<key>cardText</key>
		<string>守护骑士</string>
		<key>cardDesc</key>
		<string>援护[主]: 当其他任意1名角色受到伤害时，你可以弃1张手牌，然后替他承受该伤害。\n+信仰[被]: 每当你受到1点伤害后，可以将牌堆顶的1张牌暗置于桌面，在你的出牌阶段将其收入你的手牌。\n+父爱[被]: 摸牌阶段，你可以将发动【信仰】将获得的暗置牌以任意分配方式交给其他角色，每分配2张暗置牌，你回复1点血量。</string>
		<key>attribute</key>
		<integer>1</integer>
		<key>hpLimit</key>
		<integer>4</integer>
		<key>spLimit</key>
		<integer>3</integer>
		<key>handSizeLimit</key>
		<integer>4</integer>
		<key>gender</key>
		<integer>1</integer>
		<key>price</key>
		<integer>0</integer>
		<key>skillIds</key>
		<array>
			<integer>16</integer>
			<integer>17</integer>
			<integer>18</integer>
		</array>
	</dict>
	<dict>
		<key>cardName</key>
		<string>Gorgon</string>
		<key>cardText</key>
		<string>蛇发女妖</string>
		<key>cardDesc</key>
		<string>秘术异蛇[主]: 出牌阶段，你可以弃1张手牌，然后抽取其他每名角色各1张手牌连同自己所弃的牌明置于桌面（无手牌的角色失去1点怒气；无手牌和怒气值的角色受到你对其造成的1点伤害），然后平均分给与明置牌数量相等的角色。(每回合限1次)\n+魔法护盾[被]: 每当你受到1点伤害时，可以消耗1点怒气并弃1张手牌来防止该伤害。</string>
		<key>attribute</key>
		<integer>2</integer>
		<key>hpLimit</key>
		<integer>3</integer>
		<key>spLimit</key>
		<integer>3</integer>
		<key>handSizeLimit</key>
		<integer>5</integer>
		<key>gender</key>
		<integer>-1</integer>
		<key>price</key>
		<integer>0</integer>
		<key>skillIds</key>
		<array>
			<integer>19</integer>
			<integer>20</integer>
		</array>
	</dict>
	<dict>
		<key>cardName</key>
		<string>LightningRevenant</string>
		<key>cardText</key>
		<string>闪电幽魂</string>
		<key>cardDesc</key>
		<string>等离子场[主]: 出牌阶段，你可以弃X张不同花色的手牌，然后指定你攻击范围内的至多X名角色作为目标，目标角色必须弃置1张你未曾弃过的花色的手牌，否则你对其造成1点伤害。（每回合限1次）\n+不定电流[被]: 当你受到【攻击】的伤害后，可以获得该【攻击】牌。</string>
		<key>attribute</key>
		<integer>2</integer>
		<key>hpLimit</key>
		<integer>4</integer>
		<key>spLimit</key>
		<integer>3</integer>
		<key>handSizeLimit</key>
		<integer>4</integer>
		<key>gender</key>
		<integer>1</integer>
		<key>price</key>
		<integer>0</integer>
		<key>skillIds</key>
		<array>
			<integer>21</integer>
			<integer>22</integer>
		</array>
	</dict>
	<dict>
		<key>cardName</key>
		<string>Juggernaut</string>
		<key>cardText</key>
		<string>剑圣</string>
		<key>cardDesc</key>
		<string>无敌斩[主]: 摸牌阶段，若你放弃摸牌，则你的黑色手牌均可视为【普通攻击】，并且你的回合可以使用任意数量的【攻击】。\n+剑舞[被]: 你使用的【攻击】，目标角色只有使用方块【闪避】才能抵消。</string>
		<key>attribute</key>
		<integer>2</integer>
		<key>hpLimit</key>
		<integer>4</integer>
		<key>spLimit</key>
		<integer>3</integer>
		<key>handSizeLimit</key>
		<integer>4</integer>
		<key>gender</key>
		<integer>1</integer>
		<key>price</key>
		<integer>0</integer>
		<key>skillIds</key>
		<array>
			<integer>23</integer>
			<integer>24</integer>
		</array>
	</dict>
	<dict>
		<key>cardName</key>
		<string>VengefulSpirit</string>
		<key>cardText</key>
		<string>复仇之魂</string>
		<key>cardDesc</key>
		<string>移形换位[主]: 出牌阶段，你可以弃1张手牌，然后抽取另外1名角色的1张手牌，之后目标角色将你所弃的那张牌收为手牌。（每回合限1次）\n+恐怖波动[被]: 每当你获得1点怒气，可以立即摸1张牌。</string>
		<key>attribute</key>
		<integer>2</integer>
		<key>hpLimit</key>
		<integer>3</integer>
		<key>spLimit</key>
		<integer>3</integer>
		<key>handSizeLimit</key>
		<integer>5</integer>
		<key>gender</key>
		<integer>-1</integer>
		<key>price</key>
		<integer>0</integer>
		<key>skillIds</key>
		<array>
			<integer>25</integer>
			<integer>26</integer>
		</array>
	</dict>
	<dict>
		<key>cardName</key>
		<string>Strygwyr</string>
		<key>cardText</key>
		<string>血魔</string>
		<key>cardDesc</key>
		<string>血之狂暴[主]: 出牌阶段，你可以对自己造成1点伤害，然后摸1张牌，且你在该回合使用的【攻击】造成的伤害+1。（每回合限1次）\n+嗜血[被]: 你对血量为1的角色使用【攻击】时，该角色必须额外使用1张【闪避】才能抵消。\n+屠戮[被]: 当你杀死另1名角色后，可以回复1点血量。</string>
		<key>attribute</key>
		<integer>2</integer>
		<key>hpLimit</key>
		<integer>4</integer>
		<key>spLimit</key>
		<integer>3</integer>
		<key>handSizeLimit</key>
		<integer>4</integer>
		<key>gender</key>
		<integer>1</integer>
		<key>price</key>
		<integer>0</integer>
		<key>skillIds</key>
		<array>
			<integer>27</integer>
			<integer>28</integer>
			<integer>29</integer>
		</array>
	</dict>
	<dict>
		<key>cardName</key>
		<string>TrollWarlord</string>
		<key>cardText</key>
		<string>巨魔战将</string>
		<key>cardDesc</key>
		<string>战斗专注[被]: 出牌阶段，你可以进行1次判定，若结果为红色，你可以使用任意数量的【攻击】。（每回合限1次）\n+热血战魂[被]: 你可以将你的手牌【闪避】当作【普通攻击】使用。</string>
		<key>attribute</key>
		<integer>2</integer>
		<key>hpLimit</key>
		<integer>4</integer>
		<key>spLimit</key>
		<integer>3</integer>
		<key>handSizeLimit</key>
		<integer>4</integer>
		<key>gender</key>
		<integer>1</integer>
		<key>price</key>
		<integer>0</integer>
		<key>skillIds</key>
		<array>
			<integer>30</integer>
			<integer>31</integer>
		</array>
	</dict>
	<dict>
		<key>cardName</key>
		<string>DwarvenSniper</string>
		<key>cardText</key>
		<string>火枪手</string>
		<key>cardDesc</key>
		<string>爆头[被]: 当你使用【攻击】时，你可以进行1次判定，若结果为黑色，则该【攻击】造成的伤害+1。\n+瞄准[被]: 你计算与其他角色的距离时，始终-1；其他角色计算与你的距离时，始终+1。\n+散弹[主]: 出牌阶段，你可以将1张红桃手牌当【缴械】使用。</string>
		<key>attribute</key>
		<integer>2</integer>
		<key>hpLimit</key>
		<integer>3</integer>
		<key>spLimit</key>
		<integer>3</integer>
		<key>handSizeLimit</key>
		<integer>5</integer>
		<key>gender</key>
		<integer>1</integer>
		<key>price</key>
		<integer>0</integer>
		<key>skillIds</key>
		<array>
			<integer>32</integer>
			<integer>33</integer>
			<integer>34</integer>
		</array>
	</dict>
	<dict>
		<key>cardName</key>
		<string>NerubianAssassin</string>
		<key>cardText</key>
		<string>地穴刺客</string>
		<key>cardDesc</key>
		<string>法力燃烧[主]: 出牌阶段，你可以弃1张黑色牌，然后弃掉另1名角色的1张手牌。\n+复仇[被]: 当你使用【攻击】时，若你当前的手牌数为0，则该攻击强制命中。\n+穿刺护甲[被]: 每当你受到1次伤害后，若你当前的手牌数为0，则可以对伤害来源造成1点伤害。</string>
		<key>attribute</key>
		<integer>2</integer>
		<key>hpLimit</key>
		<integer>4</integer>
		<key>spLimit</key>
		<integer>3</integer>
		<key>handSizeLimit</key>
		<integer>4</integer>
		<key>gender</key>
		<integer>1</integer>
		<key>price</key>
		<integer>0</integer>
		<key>skillIds</key>
		<array>
			<integer>35</integer>
			<integer>36</integer>
			<integer>37</integer>
		</array>
	</dict>
	<dict>
		<key>cardName</key>
		<string>Antimage</string>
		<key>cardText</key>
		<string>敌法师</string>
		<key>cardDesc</key>
		<string>法力损毁[被]: 每当你使用【攻击】造成1次伤害后，可以立即弃掉目标角色的1张手牌。\n+闪烁[被]: 你可以将1张黑色手牌当【闪避】使用或打出。\n+法力虚空[主]: 出牌阶段，你可以消耗3点怒气，然后对另1名手牌数小于上限的角色造成X点伤害。（X=目标的手牌上限 - 当前的手牌数，每回合限1次）</string>
		<key>attribute</key>
		<integer>2</integer>
		<key>hpLimit</key>
		<integer>3</integer>
		<key>spLimit</key>
		<integer>3</integer>
		<key>handSizeLimit</key>
		<integer>5</integer>
		<key>gender</key>
		<integer>1</integer>
		<key>price</key>
		<integer>0</integer>
		<key>skillIds</key>
		<array>
			<integer>38</integer>
			<integer>39</integer>
			<integer>40</integer>
		</array>
	</dict>
	<dict>
		<key>cardName</key>
		<string>NerubianWeaver</string>
		<key>cardText</key>
		<string>地穴蚂蚁</string>
		<key>cardDesc</key>
		<string>蝗虫群[主]: 出牌阶段，你可以弃X张黑色牌，然后令X名其他角色各弃置1张【攻击】，否则受到你对其造成的1点伤害。(X≥2，每回合限1次)\n+时光倒流[主]: 出牌阶段，你可以弃3张红色手牌，然后将手牌补充至上限，之后你的回合立即结束。</string>
		<key>attribute</key>
		<integer>2</integer>
		<key>hpLimit</key>
		<integer>3</integer>
		<key>spLimit</key>
		<integer>3</integer>
		<key>handSizeLimit</key>
		<integer>5</integer>
		<key>gender</key>
		<integer>1</integer>
		<key>price</key>
		<integer>0</integer>
		<key>skillIds</key>
		<array>
			<integer>41</integer>
			<integer>42</integer>
		</array>
	</dict>
	<dict>
		<key>cardName</key>
		<string>UrsaWarrior</string>
		<key>cardText</key>
		<string>熊战士</string>
		<key>cardDesc</key>
		<string>怒意狂击[被]: 出牌阶段，你可以使用的【攻击】次数+X。（X为你回合开始时的怒气值）\n+激怒[被]: 当你使用【攻击】造成伤害时，若你的血量大于其他所有角色的血量，则可以令该伤害+1。</string>
		<key>attribute</key>
		<integer>2</integer>
		<key>hpLimit</key>
		<integer>4</integer>
		<key>spLimit</key>
		<integer>3</integer>
		<key>handSizeLimit</key>
		<integer>4</integer>
		<key>gender</key>
		<integer>1</integer>
		<key>price</key>
		<integer>150</integer>
		<key>skillIds</key>
		<array>
			<integer>43</integer>
			<integer>44</integer>
		</array>
	</dict>
	<dict>
		<key>cardName</key>
		<string>ChenYunSheng</string>
		<key>cardText</key>
		<string>陈云生</string>
		<key>cardDesc</key>
		<string>神判[主]: 当任意1名角色的判定牌生效前，你可以弃1张手牌，然后令此判定重新进行1次。\n+特殊体质[被]: 当你的血量≤2时，【攻击】对你无效。</string>
		<key>attribute</key>
		<integer>2</integer>
		<key>hpLimit</key>
		<integer>3</integer>
		<key>spLimit</key>
		<integer>3</integer>
		<key>handSizeLimit</key>
		<integer>5</integer>
		<key>gender</key>
		<integer>1</integer>
		<key>price</key>
		<integer>150</integer>
		<key>skillIds</key>
		<array>
			<integer>45</integer>
			<integer>46</integer>
		</array>
	</dict>
	<dict>
		<key>cardName</key>
		<string>Slayer</string>
		<key>cardText</key>
		<string>秀逗法师</string>
		<key>cardDesc</key>
		<string>炽魂[被]: 出牌阶段，你使用魔法牌产生强化效果时无需消耗怒气。（每回合限1次）\n+神灭斩[被]: 出牌阶段，你可以将2张红色手牌当【神灭斩】使用。\n+狂热之心[被]: 你使用的魔法牌若未被【驱散】抵消，结算完毕后，你可以额外使用1张【攻击】。</string>
		<key>attribute</key>
		<integer>3</integer>
		<key>hpLimit</key>
		<integer>3</integer>
		<key>spLimit</key>
		<integer>3</integer>
		<key>handSizeLimit</key>
		<integer>5</integer>
		<key>gender</key>
		<integer>-1</integer>
		<key>price</key>
		<integer>0</integer>
		<key>skillIds</key>
		<array>
			<integer>47</integer>
			<integer>48</integer>
			<integer>49</integer>
		</array>
	</dict>
	<dict>
		<key>cardName</key>
		<string>Necrolyte</string>
		<key>cardText</key>
		<string>死灵法师</string>
		<key>cardDesc</key>
		<string>竭心光环[主]: \n+施虐之心[被]: 当其他任意1名角色死亡时，你可以额外摸2张牌。</string>
		<key>attribute</key>
		<integer>3</integer>
		<key>hpLimit</key>
		<integer>3</integer>
		<key>spLimit</key>
		<integer>3</integer>
		<key>handSizeLimit</key>
		<integer>5</integer>
		<key>gender</key>
		<integer>1</integer>
		<key>price</key>
		<integer>0</integer>
		<key>skillIds</key>
		<array>
			<integer>50</integer>
			<integer>51</integer>
		</array>
	</dict>
	<dict>
		<key>cardName</key>
		<string>TwinHeadDragon</string>
		<key>cardText</key>
		<string>双头龙</string>
		<key>cardDesc</key>
		<string>冰封[主]: 出牌阶段，你可以弃1张牌并指定其他1名角色，然后你抽取该角色的2张手牌暗置于桌面，直到你回合结束，该角色可将暗置的牌收回。（每回合限1次）\n+液态火[被]: 你可以将2张红色手牌当【火焰攻击】使用，并且该【火焰攻击】造成的伤害+1。</string>
		<key>attribute</key>
		<integer>3</integer>
		<key>hpLimit</key>
		<integer>4</integer>
		<key>spLimit</key>
		<integer>3</integer>
		<key>handSizeLimit</key>
		<integer>4</integer>
		<key>gender</key>
		<integer>1</integer>
		<key>price</key>
		<integer>0</integer>
		<key>skillIds</key>
		<array>
			<integer>52</integer>
			<integer>53</integer>
		</array>
	</dict>
	<dict>
		<key>cardName</key>
		<string>CrystalMaiden</string>
		<key>cardText</key>
		<string>水晶室女</string>
		<key>cardDesc</key>
		<string>冰封禁制[主]: 每当其他角色使用或打出【攻击】或【闪避】时，你可以立即弃1张红桃手牌，然后令改【攻击】或【闪避】无效。\n+辉煌光环[被]: 摸牌阶段，你可以少摸1张牌，然后你可以额外查看牌堆顶的X张牌，并将这些牌均分给X名角色（X为存活角色的数量，每回合限1次）</string>
		<key>attribute</key>
		<integer>3</integer>
		<key>hpLimit</key>
		<integer>3</integer>
		<key>spLimit</key>
		<integer>3</integer>
		<key>handSizeLimit</key>
		<integer>5</integer>
		<key>gender</key>
		<integer>-1</integer>
		<key>price</key>
		<integer>0</integer>
		<key>skillIds</key>
		<array>
			<integer>54</integer>
			<integer>55</integer>
		</array>
	</dict>
	<dict>
		<key>cardName</key>
		<string>Lich</string>
		<key>cardText</key>
		<string>巫妖</string>
		<key>cardDesc</key>
		<string>邪恶祭祀[主]: 出牌阶段，你可以弃1张红色牌，然后摸2张牌。（每回合限1次）\n+霜冻护甲[被]: 每当你受到1次伤害后，可以弃掉伤害来源的1张牌。</string>
		<key>attribute</key>
		<integer>3</integer>
		<key>hpLimit</key>
		<integer>3</integer>
		<key>spLimit</key>
		<integer>3</integer>
		<key>handSizeLimit</key>
		<integer>5</integer>
		<key>gender</key>
		<integer>1</integer>
		<key>price</key>
		<integer>0</integer>
		<key>skillIds</key>
		<array>
			<integer>56</integer>
			<integer>57</integer>
		</array>
	</dict>
	<dict>
		<key>cardName</key>
		<string>ShadowPriest</string>
		<key>cardText</key>
		<string>暗影牧师</string>
		<key>cardDesc</key>
		<string>薄葬[主]: 当任意1名角色处于濒死状态时，你可以立即弃2张红色手牌，然后令目标角色的血量回复至1点。\n+暗影波[主]: 出牌阶段，你可以弃2张相同花色的手牌，然后令任意1名血量小于上限的角色回复1点血量，另1名角色受到你对其造成的1点伤害。（每回合限1次）</string>
		<key>attribute</key>
		<integer>3</integer>
		<key>hpLimit</key>
		<integer>3</integer>
		<key>spLimit</key>
		<integer>3</integer>
		<key>handSizeLimit</key>
		<integer>5</integer>
		<key>gender</key>
		<integer>1</integer>
		<key>price</key>
		<integer>0</integer>
		<key>skillIds</key>
		<array>
			<integer>58</integer>
			<integer>59</integer>
		</array>
	</dict>
	<dict>
		<key>cardName</key>
		<string>OgreMagi</string>
		<key>cardText</key>
		<string>食人魔</string>
		<key>cardDesc</key>
		<string>火焰爆轰[被]: 你使用的魔法牌无法被【驱散】抵消。\n+多重施法[被]: 当你使用的魔法牌结算完毕后，可以进行1次判定，若结果为红色，则再产生1次该效果。（若魔法牌目标不限定为自己，则可以更改目标，每使用1张魔法牌限1次）</string>
		<key>attribute</key>
		<integer>3</integer>
		<key>hpLimit</key>
		<integer>4</integer>
		<key>spLimit</key>
		<integer>3</integer>
		<key>handSizeLimit</key>
		<integer>4</integer>
		<key>gender</key>
		<integer>1</integer>
		<key>price</key>
		<integer>0</integer>
		<key>skillIds</key>
		<array>
			<integer>60</integer>
			<integer>61</integer>
		</array>
	</dict>
	<dict>
		<key>cardName</key>
		<string>KeeperOfTheLight</string>
		<key>cardText</key>
		<string>光之守卫</string>
		<key>cardDesc</key>
		<string>冲击波[主]: 出牌阶段，你可以弃3张不同花色的牌，然后对至多2名角色各造成1点伤害。（每回合限1次）\n+查克拉[主]: 出牌阶段，你可以将任意1张手牌当【查克拉】使用。（每回合限1次）\n+恩惠[被]: 出牌阶段，你可以对任意1名角色使用【查克拉】。</string>
		<key>attribute</key>
		<integer>3</integer>
		<key>hpLimit</key>
		<integer>3</integer>
		<key>spLimit</key>
		<integer>3</integer>
		<key>handSizeLimit</key>
		<integer>5</integer>
		<key>gender</key>
		<integer>1</integer>
		<key>price</key>
		<integer>0</integer>
		<key>skillIds</key>
		<array>
			<integer>62</integer>
			<integer>63</integer>
			<string>64</string>
		</array>
	</dict>
	<dict>
		<key>cardName</key>
		<string>GoblinTechies</string>
		<key>cardText</key>
		<string>哥布林</string>
		<key>cardDesc</key>
		<string>遥控炸弹[主]: 出牌阶段，你可以在你的状态区暗置1张【攻击】，称为“炸弹”（炸弹最多存在2枚）。（每回合限1次）\n+引爆[被]: 每当其他角色使用或打出1张与“炸弹”花色相同的牌时（在结算前），你可以“引爆”（即弃置）X枚该花色的“炸弹”并摸X张牌，然后对该角色造成X点伤害。\n+自爆[被]: 当你死亡时，你可以令杀死你的角色进行1次判定，若结果为红色，你对其造成2点伤害。</string>
		<key>attribute</key>
		<integer>3</integer>
		<key>hpLimit</key>
		<integer>3</integer>
		<key>spLimit</key>
		<integer>3</integer>
		<key>handSizeLimit</key>
		<integer>5</integer>
		<key>gender</key>
		<integer>1</integer>
		<key>price</key>
		<integer>0</integer>
		<key>skillIds</key>
		<array>
			<integer>65</integer>
			<integer>66</integer>
			<integer>67</integer>
		</array>
	</dict>
	<dict>
		<key>cardName</key>
		<string>StormSpirit</string>
		<key>cardText</key>
		<string>风暴之灵</string>
		<key>cardDesc</key>
		<string>超负荷[被]: 每当你使用1张魔法牌或S技能牌时（结算前），立即摸1张牌。\n+球状闪电[被]: 你可以将任意2张手牌当【普通攻击】或【闪避】使用或打出。</string>
		<key>attribute</key>
		<integer>3</integer>
		<key>hpLimit</key>
		<integer>3</integer>
		<key>spLimit</key>
		<integer>3</integer>
		<key>handSizeLimit</key>
		<integer>5</integer>
		<key>gender</key>
		<integer>1</integer>
		<key>price</key>
		<integer>150</integer>
		<key>skillIds</key>
		<array>
			<integer>68</integer>
			<integer>69</integer>
		</array>
	</dict>
	<dict>
		<key>cardName</key>
		<string>Enchantress</string>
		<key>cardText</key>
		<string>魅惑魔女</string>
		<key>cardDesc</key>
		<string>不可侵犯[被]: 【普通攻击】对你无效。\n+魅诱[主]: 当任意1名角色的判定牌生效后，若出现红色的判定牌，则你可以弃1张牌，然后将该判定牌收为手牌。\n+自然之助[主]: 出牌阶段，你可以消耗X点怒气并弃X张红桃牌，然后令X名任意角色各回复1点血量。(每回合限1次)</string>
		<key>attribute</key>
		<integer>3</integer>
		<key>hpLimit</key>
		<integer>3</integer>
		<key>spLimit</key>
		<integer>3</integer>
		<key>handSizeLimit</key>
		<integer>5</integer>
		<key>gender</key>
		<integer>-1</integer>
		<key>price</key>
		<integer>0</integer>
		<key>skillIds</key>
		<array>
			<integer>70</integer>
			<integer>71</integer>
			<integer>72</integer>
		</array>
	</dict>
	<dict>
		<key>cardName</key>
		<string>ElfLily</string>
		<key>cardText</key>
		<string>精灵莉莉</string>
		<key>cardDesc</key>
		<string>治疗术[主]: 每当你回复1点血量，可以弃1张红色手牌，然后指定另1名角色回复1点血量。\n+驱散精灵[被]: 你可以将1张红桃手牌当【驱散】使用。\n+魔法掌控[被]: 将你成功【驱散】的魔法牌收为手牌。</string>
		<key>attribute</key>
		<integer>3</integer>
		<key>hpLimit</key>
		<integer>3</integer>
		<key>spLimit</key>
		<integer>3</integer>
		<key>handSizeLimit</key>
		<integer>5</integer>
		<key>gender</key>
		<integer>-1</integer>
		<key>price</key>
		<integer>150</integer>
		<key>skillIds</key>
		<array>
			<integer>73</integer>
			<integer>74</integer>
			<integer>75</integer>
		</array>
	</dict>
</array>
</plist>
